*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #000000;
	font: 12px Verdana;
	padding-bottom: 70px;
}

img{
	max-width: 100%;
	height: auto;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;


}

.wrapper{
	width: auto;
}
 hr{
	border-color: #e7be40;
	
} 

                              /*  HEADER BEGIN*/

#menu a{
	color: #FFF;
}
#menu a:hover{
	color: #e7be40;
}
header {
	height: 80px;
	width: auto;
}
/* .navbar-fixed-top{
	width: auto;
	height: 60px;
}*/
.navbar-right{
	margin-right: 20px;
}
.navbar-right li {
	margin: 5px 25px 10px 10px;
}
nav {
	float: right;
	
}

nav li {
	float: right;
	margin: 10px 45px 5px 10px;
}
nav ul a:hover {
	text-decoration: none;
	color: #cccccc;
}
nav ul a {
	color: #ffffff;
	font: 16px Verdana, Arial ;
}
h1{
	color: #e7be40;
	font-size: 45px;
}	







                               /*  HEADER END*/

.container{
	height: auto;
	max-width: auto;
}
#main {
	background: url(../img/bgheader.gif) no-repeat center bottom;
	background-size: cover;
	height: 700px;
}


#logo{
	height: 270px;
	width: 270px;
	margin: 90px 0 0 280px;
	position: absolute;

}
h2{
	font-family: verdana;
	color: #fff;
	font-size: 35px;
	float: right;
	margin: 460px 120px 0 0;
}
#aboutimg{
	height: 560px;
	width: 530px;
	margin: 60px 0 0 0;
}

/*.buro{
	float: right;
	width: 480px;
	height: 700px;
	margin: 60px 0 0 0;
}*/


.info{
	margin: 20px 0 0 100px ;
	width: 320px;
}

#buro h1{
	
	margin: 60px 0 0 160px;
	font-family: Verdana;
	
}
#buro hr{
	margin: 10px 0 0 160px;
}

p{
	color: #fef4cf;
	font-size: Verdana 14px;
}
#textabout {
	margin: 0 35px 0 0;

}

#anonim h1 {
	margin: 30px 0 0 400px;
	color: #e7be40;
	border-color: #e7be40;
}

#anonim  hr{
	margin: 30px 0 0 400px;
	border-color: #e7be40;
}

#textanonim {
	width: 450px;
	margin: 45px 0 0 0;
}
#list{
	display: -moz-box;
	display: 
}
#list li{
	display: inline-block;
	color: #fef4cf;
	font-size: 14px;
	width: 170px;
	height: 150px;
	margin-left: 40px;
	margin-top: 50px;
	text-align: left;

}
#new{
	align: center;
}
#new h1{
	text-align: left;
	padding-left: 40px;
}
#new hr{
	margin-left: 0;
}

#newsbody {
	background: url(../img/news.png) no-repeat center bottom;
	background-size: cover;
	height: 500px;
	margin-top: -15px;
	border: 2px solid #959595;
}

#pidtrumatu{
	margin-top: 40px;
}
#pid{
	text-align: center;

}
#finger{
	width: 400px;
	height: 200px;
	margin-top: 50px;
}

#hands{
	/*background: url(../img/hands.png)  no-repeat center bottom ;*/
	height: 600px;
}
#pererah{
	margin-top: -240px;
}

#pererah p{
	text-align: right;
}
#pay{
	max-width: 300px;
	margin-top: -60px;
	margin-left: 150px;
}

#social {
	margin: 10px;
	width: 50px;
	height: 50px;
}

#poslan{
	height: 80px;
	width: 350px;
}













