*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #000000;
	font: 12px Verdana;
	padding-bottom: 70px;
}

img{
	max-width: 100%;
	height: auto;
}

ul{
	list-style: none;	
}
li{
	
	color: #e7be40;
}
a{
	text-decoration: none;
}

.wrapper{
	width: auto;
}
 hr{
    border: 0;
    height: 4px;
    background-image:linear-gradient(to top, #764b19 0%, #412000 35%,#fec563  75%, #efdbcd  100%);
   
	
} 

                              /*  HEADER BEGIN*/
#menu{
	    /*-webkit-padding-start: 0px;*/
}
#menu a{
	color: #FFF;
}
#menu a:hover{
	background-image:linear-gradient(to top, #764b19 0%, #412000 25%,#fec563  45%, #efdbcd  65%);
    -webkit-background-clip: text;
	color: transparent;	
}
header {
	height: 80px;
	width: auto;
}
/* .navbar-fixed-top{
	width: auto;
	height: 60px;
}*/
.navbar{
    background-color: rgba(0, 0, 0, 0.54);
}
.navbar-right{
	margin-right: 20px;
}

.form-group{
	border: 5px solid #080808 ;
    border-radius: 8px;
}
.form-control{
	color: #080808;
    background-color: rgba(205, 177, 65, 0.8);    
    border: 0px ;
    border-radius: 0px;
}

.modal-content{
	background-color: rgba(205, 177, 104, 0.41);	
}
.navbar-right li {
	margin: 5px 5px 10px 10px;
}
nav {
	float: right;
	
}

nav li {
	float: right;
	margin: 10px 45px 5px 10px;
}
nav ul a:hover {
	text-decoration: none;
	color: #cccccc;
}
nav ul a {
	color: #ffffff;
	font: 16px Verdana, Arial ;
}
h1{	   
	font-family: Verdana;   
	font-size: 45px;
    padding-top: 50px;
        
}

#print, #print1, #print2, #print3, #print4{
	background-image:linear-gradient(to top, #764b19 0%, #412000 5%,#fec563  25%, #efdbcd  35%);
    /* linear-gradient(to top, #764b19 0%, #412000 35%,#fec563  65%, #efdbcd  100%);   */
	-webkit-background-clip: text;
	color: transparent;	
}	

#blink{
	background-image:linear-gradient(to top, #764b19 0%, #412000 5%,#fec563  25%, #efdbcd  35%);
	/* linear-gradient(to top, #764b19 0%, #412000 35%,#fec563  65%, #efdbcd  100%);   */
	-webkit-background-clip: text;
	color: transparent;	
}
#blink1{
	visibility: hidden;
}







                               /*  HEADER END*/

.container{
	height: auto;
	max-width: auto;
}
#main {
	background: url(../img/bgheader.gif) no-repeat center bottom;
	background-size: cover;
	height: 700px;
    margin-top: -80px;
}


#logo{
	height: 270px;
	width: 270px;
	margin: 90px 0 0 280px;
	position: absolute;

}
h2{
	font-family: verdana;
	color:  #e7be40;
	font-size: 35px;
	float: right;
	margin: 460px 120px 0 0;
}
/* #blink{
	visibility: hidden; */
}
#aboutimg{
	height: 560px;
	width: 530px;
	margin: 60px 0 0 0;
}

/*.buro{
	float: right;
	width: 480px;
	height: 700px;
	margin: 60px 0 0 0;
}*/


.info{
	margin: 20px 0 0 100px ;
	width: 320px;
}

#buro h1{
	
	margin: 60px 0 0 160px;
	font-family: Verdana;
	
}
#buro hr{
	margin: 10px -15px 0 160px;
}

p{
	color: #fef4cf;
	font-size: Verdana 14px;
}
#textabout {
	margin: 0 35px 0 0;

}

#anonim  hr{
	margin-right: -30px;
	
}

#textanonim {
	width: 450px;
	margin: 100px 0 0 0;
}
#list2 ul{
	list-style-type: square;
}

#list li{
	display: inline-block;
	color: #fef4cf;
	font-size: 14px;
	width: 170px;
	height: 150px;
	margin-left: 40px;
	margin-top: 50px;
	text-align: left;

}
#new{
	align: center;
}
#new h1{
	text-align: left;
	padding-left: 40px;
}
#new hr{
	margin-left: -15px;
}

#newsbody {
	background: url(../img/news.png) no-repeat center bottom;
	background-size: cover;
	height: 500px;
	margin-top: -15px;
	border: 2px solid #959595;
}

#pidtrumatu{
	
	background-size: cover;
	height: 500px;
	margin-top: 40px;
}

#hand{
background: url(../img/hands.png) no-repeat center bottom;
}
#pid{
	text-align: center;

}
#finger{
	width: 300px;
	height: 130px;
	margin-top: 170px;
	margin-left: 80px;
	 filter:opacity(30%);
	
}

#finger:hover{
	 filter:opacity(100%);
	 filter:saturate(8);

}
#skarga{
	margin-top: -105px;
    margin-left: 85px;
	text-decoration: none;
	background-image:linear-gradient(to top, #764b19 0%, #412000 5%,#fec563  25%, #efdbcd  35%);
    /* linear-gradient(to top, #764b19 0%, #412000 35%,#fec563  65%, #efdbcd  100%);   */
	-webkit-background-clip: text;
	color: transparent;	
}
#buton{
    margin-left: 175px;
}

#hands{
	/*background: url(../img/hands.png)  no-repeat center bottom ;*/
	height: 600px;
}


#pererah p{
	text-align: right;
}
#pay{
	max-width: 300px;	
	margin-left: 150px;
}

#social {
	margin: 10px;
	width: 50px;
	height: 50px;
}

#poslan{
	height: 80px;
	width: 350px;
}

#fooleft{
	margin-left: -30px;
}

#fooright{
	margin-right: -30px;
}









